@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: rgb(24, 0, 129);
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:rgb(23, 23, 24) ;
}

.container {
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background: #FFF;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
  font-size: 16px;
}

.content > p,h1 {
  text-align: center;
}

.content form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.content button {
  margin: 5px;
  border: 0;
  border-radius: 2px;
  height: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: cornflowerblue ;
  color: #fff;
  cursor: pointer;
}

.content form > button {
  margin: 5px;
  border: 0;
  border-radius: 2px;
  height: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: cornflowerblue ;
  color: #fff;
  cursor: pointer;
}

.content form > input {
  margin: 5px;
  border-radius: 2px;
  height: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.content form > textarea {
  margin: 5px;
  border-radius: 2px;
  height: 80px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.info {
  text-align: center;
}